# Ignore Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and dependency folders
venv/
env/
.idea/
.vscode/
.env

# Ignore OS files
.DS_Store
Thumbs.db

*.log

# Ignore FastAPI static and temp files
*.sqlite3

# Ignore Jupyter and notebook checkpoints
.ipynb_checkpoints/

# Ignore test coverage and reports
htmlcov/
.coverage
coverage.xml

# Ignore other temp files
*.tmp
*.bak
*.swp
